.btn {
  border: 0;
  border-radius: $button-border-radius;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-regular;
  font-weight: bold;
  height: 2.5rem;
  padding: 0 1.5rem;
  width: $button-width;
}

.btn--primary {
  background-color: $color-primary;
  color: $font-color-white;

  &:hover {
    background-color: $color-primary-shade-1;
  }
}

.btn--primary:disabled,
.btn--primary:disabled:hover {
  background-color: $color-primary-shade-2;
  cursor: default;
}
