.card {
  background-color: $card-backgroundColor;
  border-radius: 4px;
  box-shadow: $card-boxShadow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
  max-width: $card-maxWidth;
  padding: 1.5rem;

  &--animation {
    -webkit-transition:
      max-height 250ms ease-in-out,
      max-width 375ms ease-in-out;
    -moz-transition:
      max-height 250ms ease-in-out,
      max-width 375ms ease-in-out;
    -o-transition:
      max-height 250ms ease-in-out,
      max-width 375ms ease-in-out;
    transition:
      max-height 250ms ease-in-out,
      max-width 375ms ease-in-out;
  }

  &--bottomPanel {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    width: 100%;
  }

  &--topPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
    width: 100%;

    &__left {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;
    }

    &__right {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
    }
  }
}

@media screen and (max-width: 560px) and (min-width: 0) {
  .card {
    max-width: $card-maxWidth-mobile;
    min-width: $card-minWidth-mobile;

    &--topPanel {
      margin: 0;

      &__right {
        align-items: center;
        min-height: $card-content-minHeight-mobile;
        text-align: center;
        width: 100%;
      }
    }

    &--bottomPanel {
      height: 10%;
      margin-top: 1rem;
    }
  }
}
