.card {
  background-color: $card-backgroundColor;
  border-radius: 4px;
  box-shadow: $card-boxShadow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  justify-content: space-around;
  max-height: $card-height;
  max-width: $card-width;
  padding: 1.5rem;
  width: 80%;

  &--bottomPanel {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    // padding: 1rem 0;
    width: 100%;
  }

  &--topPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    justify-content: space-around;
    width: 100%;

    &__left {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;
    }

    &__right {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 55%;
    }
  }
}

@media screen and (max-width: 600px) and (min-width: 0) {
  .card {
    height: 100%;
    justify-content: space-between;
    max-height: 35rem;
    max-width: 20rem;

    &--topPanel {
      height: 90%;

      &__left {
        width: 100%;
      }

      &__right {
        align-items: center;
        text-align: center;
        width: 100%;
      }
    }

    &--bottomPanel {
      height: 10%;
    }
  }
}
