.content {
  > div {
    margin: 0.5rem;
  }

  &--title {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-large;
    font-weight: bold;
  }

  &--description {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-small;
  }

  &--body {
    font-size: $font-size-regular;
    font-weight: normal;
  }
}
