@import "variables";

// Mobile
.content-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $contentContainer-height;
  width: $contentContainer-width;
  z-index: 10;
}

.content {
  background-color: $content-backgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $content-minHeight;
  padding: $content-padding;
  width: $content-width;

  h1 {
    font-size: 64px;
    font-weight: 700;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .links-container {
    width: $linksContainer-width;

    // When an icon is hovered, make all its other sibling grey in color
    &:hover a {
      color: $grey;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    a {
      color: inherit;

      &:hover {
        color: $primary-color-light;
      }

      &:not(:last-child) {
        margin-right: $icon-margin;
      }
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 35px;
    max-width: 350px;
  }
}

// Tablet
@media only screen and (min-width: 600px) {
  .content-container {
    height: $contentContainer-height-tablet;
    width: $contentContainer-width-tablet;
  }

  .content {
    min-height: 50%;
    padding: $content-padding-tablet;
  }
}

// Desktop
@media only screen and (min-width: 769px) {
  .content-container {
    height: $contentContainer-height-desktop;
    width: $contentContainer-width-desktop;
  }

  .content {
    min-height: 100%;
    padding: $content-padding-desktop;
  }
}
