@import "variables";

// Mobile + Tablet
.garden-container {
  background-color: $garden-backgroundColor;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

// Desktop
@media only screen and (min-width: 769px) {
  .garden-container {
    background-color: $garden-backgroundColor;
    height: $garden-height;
    position: relative;
    width: $garden-width;

    canvas {
      position: absolute;
    }
  }
}
