@import "variables";

// Mobile
.garden-container {
  background-color: $garden-backgroundColor;
  height: $garden-height;
  position: absolute;
  width: $garden-width;
}

// Tablet
@media only screen and (min-width: 600px) {
  .garden-container {
    height: $garden-height-tablet;
    width: $garden-width-tablet;
  }
}

// Desktop
@media only screen and (min-width: 769px) {
  .garden-container {
    height: $garden-height-desktop;
    position: relative;
    width: $garden-width-desktop;

    canvas {
      position: absolute;
    }
  }
}
