.icon {
  font-size: $icon-size;

  a {
    color: inherit;
    margin-right: 1.5rem;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .fa-github-square {
    font-size: calc(#{$icon-size} * 1.1); // tweaked the icon size
  }
}
