// color
$black: #333;
$grey: #ccc;
$primary-color: #333;
$white: #fff;

// content
$content-backgroundColor: $white;
$content-minHeight: 400px;
$content-padding: 0 24px;
$content-width: 100%;
$contentContainer-height: 100vh;
$contentContainer-width: 100vw;

$content-minHeight-tablet: 50%;
$content-padding-tablet: 0 72px;
$content-width-tablet: $content-width;
$contentContainer-height-tablet: $contentContainer-height;
$contentContainer-width-tablet: $contentContainer-width;

$content-minHeight-desktop: 100%;
$content-padding-desktop: 0 72px;
$content-width-desktop: 100%;
$contentContainer-height-desktop: $contentContainer-height;
$contentContainer-width-desktop: 500px;

// content link
$icon-margin: 12px;
$icon-size: 36px;
$icon-count: 4;
$linksContainer-width: calc(((#{$icon-count} - 1) * #{$icon-margin}) + (#{$icon-count} * #{$icon-size}));

// garden
$garden-backgroundColor: $primary-color;
$garden-height: 100vh;
$garden-width: 100vw;

$garden-height-tablet: $garden-height;
$garden-width-tablet: $garden-width;

$garden-height-desktop: 100vh;
$garden-width-desktop: calc(100vw - #{$contentContainer-width-desktop});
