// color
$primary-color: #202b33;
$black: #333;
$white: #fff;

// content
$content-backgroundColor: $white;
$content-height: 100vh;
$content-width: 500px;

// garden
$garden-backgroundColor: $primary-color;
$garden-height: 100vh;
$garden-width: calc(100vw - #{$content-width});
