@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "variables";
@import "avatar";
@import "button";
@import "card";
@import "content";
@import "icon";

html,
body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 0;
}

.body {
  align-items: center;
  background-color: $color-primary;
  color: $font-color-black;
  display: flex;
  height: 100vh;
  justify-content: center;
}
