@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import "reset";
@import "variables";
@import "content";
@import "garden";

html,
body {
  background-color: $primary-color;
  color: $black;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  position: relative;
}
